<div [@fadeInAnimation]>
  <h1>Login</h1>
  <form [formGroup]="formLogin" (ngSubmit)="login()">
    <div class="errors" *ngIf="showError">
      <p>{{textError}}</p>
    </div>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>es: prova@email.com</mat-label>
      <input
      type="email"
      matInput
      formControlName="email"
      >
      <mat-hint>Email</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>es: 1234@Qwerty</mat-label>
        <input
        type="password"
        matInput
        formControlName="password"
        >
        <mat-hint>Password</mat-hint>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>

  <!-- <form>

    <input class="form-control" type="email" placeholder="email"
    name="email" [(ngModel)]="userData.email">

    <input class="form-control" type="password" placeholder="password"
    name="password" [(ngModel)]="userData.password">

    <button
    (click)="login()"
    class="btn btn-primary"
    >Login</button>

  </form>
  <button [routerLink]="['../register']">non sei ancora registrato? registrai qui</button> -->
