header{
    a{
        margin-left: $margin-x-axes / 2;
        margin-right: $margin-x-axes / 2;
        @media screen and (min-width: 768px){
            margin-left: $margin-x-axes;
            margin-right: $margin-x-axes;
        }
    }
}


nav{
    background: linear-gradient(180deg, rgba(0,0,0,0.6286215143411702) 1%, rgba(255,255,255,0) 100%);
    .logo{
        height: $img-nav-height;
    }
}
