header{
  background: linear-gradient(15deg, rgb(91, 213, 250) 4%, rgba(155, 5, 219, 0.955) 47%);
  border-bottom: 1px solid black;
  nav{
    display: flex;
    width: 100%;
    padding: 10px 0;
    div.logo{
      margin: 0 20px 0 20px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        height: 80%;
        border-radius: 7px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 3);

      }
      img:hover{
        transform: scale(1.2);

      }
    }
    ul{
      display: flex;
      align-items: center;
      justify-content: center;
      li:first-child{
        margin-right: 20px;
      }
    }
  }
}
