body{
    background-image: url(../img/purple-3d-drops-4k-creative-abstract-backgrounds-liquid-art.jpg);
    background-repeat: no-repeat;
}
header{
    background: linear-gradient(135deg, rgba(129,0,255,1) 43%, rgba(239,0,241,1) 100%);
    border-bottom: white inset 2px;
    display: flex;
    align-items: center;
}
header h1{
    color: white;
    font-size: 4rem;
    padding: 5% 0 5% 3%;
    display: block;
    
}
header nav{
    display: block;
    font-size: 3rem;
    color: white;
    margin-left: 30%;
}
#content {
    display: flex;
    color: white;
    padding: 4% 4% 4% 4%;
}

/* main */
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main h2{
    display: block;
    text-align: center;
    padding: 0 0 5% 0;
    font-size: 3rem;
    font-weight: bold;
}
#experiences{
    display: flex;
    justify-content: space-around;
    
}
.job{
    display: block;
    border: inset white 2px;
    border-radius: 5%;
    max-width: 20%;
}
.job>img{
    max-width: 100%;
    border-radius: 6%;
}
article h3{
    text-align: center;
    padding: 10% 0 10% 0;
}




/**/
footer{
    color: white;
}