/* IMPOSTAZIONI GENERALI */
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url(../img/sfondo.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}

/* HEADER */
#header-logo-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
}
header{
    background: linear-gradient(180deg, rgba(14,113,117,1) 0%, rgba(23,113,172,1) 100%);
    box-sizing: border-box;
    padding: 15px;
    margin: 2%;
    box-shadow: 0 3px 3px 3px rgba(92, 92, 92, 0.733);

}
.logo-epicode img{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
    display:block
}
.titolo-header {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}
nav h3::before {
    content: "⇒";
  }
nav h3::after {
    content: "⇐";
}
nav a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/* MAIN */
main{
    margin: 2%;
    background-color: white;
    box-shadow: 0 3px 3px 3px rgba(92, 92, 92, 0.733);
}
h1{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
}
article>p{
    color: rgb(175, 175, 175);
    padding: 20px 20px 20px 20px;
    font-size: 1.2rem;
}
article>section{
    font-size: 1.2rem;
    line-height: 1.7rem;
    padding: 0px 20px 0px 20px;
}
.padding-bottom{
    padding-bottom: 20px;
}
ul{
    padding-left: 35px;
    padding-bottom: 20px;
}
.button{
    background-color: rgb(216, 214, 214);
    border-radius: 5px;
    border: 1px inset black;
}
section a{
    font-weight: bold;
    color: rgb(131, 2, 131);
    text-decoration: none;
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */
table th {
    background-color: #3769cc;
    border: 1px solid rgb(195, 195, 195);
    padding: 20px;
}
.intestazioni-tabella{
    color: white;
}
  table td {
    padding: 20px;
    text-align: center;
}
  table tr:nth-of-type(even) {
    background-color: #f0f0f1;
}
  table {
    border-bottom: 2px solid cadetblue;
    margin-bottom: 30px;
    margin: 0 auto;
}
caption>h4{
    font-weight: bold;
    font-style: italic;
}
/* FORM */

/* ELEMENTI NELL' ASIDE */
aside {
    margin-top: 50px;
    padding: 0px 20px 0px 20px;
    font-size: 1.2rem;
    line-height: 1.7rem;
}

iframe{
    border-radius: 40px;
    margin: 20px 0 40px 0;
}
.newsletter{
    background-color: rgb(224, 223, 223);
}
.newsletter h3{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5%;
}
.newsletter p{
    text-align: left;
}
form>input, form button{
    border: inset 0px;
    margin: 0 auto;
}
form button{
    background-color: #3769cc;
    color: white;
    font-size: 1.2rem;
    height: 100%;
}
fieldset{
    display: block;
    display: flex;
    justify-content: space-around;
}
form>input{
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    border-bottom: dashed grey 1.5px;
}
.newsletter{
    padding: 5%;
}
.linked-article{
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 5%;
}
.articles-3{
    background-color: rgb(224, 223, 223);
    margin: 0 0 20px 0;
    padding: 20px;
}
.articles-3 i {
    color: black;
}
.articles-3 p{
    color: black;
}
.articles-3 a{
    color: rgb(14, 146, 255);
    text-decoration: underline;
}
.calendar{
    text-align: end;
}

/* FOOTER */
footer{
    margin: 2%;
    background: linear-gradient(180deg, rgba(14,113,117,1) 0%, rgba(23,113,172,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titolo-footer h6{
    font-size: 1.1rem;
    margin: 20px 0 20px 0;
    color: white;
}
.testo-footer p{
    font-size: 1.2rem;
    margin: 20px 0 20px 0;
    color: white;
}
.testo-footer a{
    font-size: 1.2rem;
    color: rgb(255, 0, 242);
    font-weight: bold;
    display: inline;
}