/* TABLET */
@media screen and (min-width:576px){
    /* NAV */
    nav{
        width: 100%;
        border-radius: 0px;
        flex-direction: row;
        justify-content: space-around;
    }
    nav p{
        font-size: 1.5rem;
    }
    nav img{
        width: 70%;
    }
    .honey-button, .utilities-button{
        margin: 0;
        width: 100%;
    }
    .honey-button button, .utilities-button button{
        width: 6rem;
        height: 2.5rem;
        font-size: 0.8rem;
    }
    .shop button{
        width: 100%;
        height: 5rem;
        padding: 0;
        margin: 1rem 0;
    }
    .honey-button{
        order: 0;
        justify-content: space-evenly;
    }
    .shop{
        order: 1;
    }
    .utilities-button{
        order: 2;
        justify-content: space-evenly;
    }
    /* MAIN */
    h1, aside>h2{
        text-align: start;
        align-self: flex-start;
        margin-left: 0.7rem;
    }
    main>div{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .product-card{
        width: 45%;
    }
    .product-card .img{
        height: 165px;
        background-size: cover;
    }
    article>h2{
        font-size: 1.5rem;
        margin: 0;
    }
    article p{
        font-size: 1rem;
        line-height: 1.3rem;
    }
    article{
        height: 50rem;
    }

}
/* DESKTOP */

@media screen and (min-width:1200px){
    body{
        align-items: flex-end;
        flex-wrap: wrap;
    }
    nav{
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15%;
    }
    main, aside{
        width: 1650px;
        width: 80%;
        flex-grow: 1;
    }
}

