/* TABLET */
@media screen and (min-width:576px){
    /* NAV */
    nav{
        width: 100%;
        border-radius: 0px;
        flex-direction: row;
        justify-content: space-around;
    }
    nav p{
        font-size: 1.5rem;
    }
    nav img{
        width: 70%;
    }
    .honey-button, .utilities-button{
        margin: 0;
        width: 100%;
    }
    .honey-button button, .utilities-button button{
        width: 100%;
        height: 2.5rem;
        font-size: 0.8rem;
    }
    .shop button{
        width: 100%;
        height: 5rem;
        padding: 0;
        margin: 1rem 0;
    }
    .honey-button{
        order: 0;
    }
    .shop{
        order: 1;
    }
    .utilities-button{
        order: 2;
        justify-content: space-evenly;

    }
    /* MAIN */
    h1, aside>h2{
        text-align: start;
        align-self: flex-start;
        margin-left: 0.7rem;
    }
    main>div{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .product-card{
        width: 45%;
    }
    .product-card .img{
        height: 165px;
        background-size: cover;
    }
    article>h2{
        font-size: 1.5rem;
        margin: 0;
    }
    article p{
        font-size: 1rem;
        line-height: 1.3rem;
    }
    article{
        height: 100%;
    }
}
/* DESKTOP */

@media screen and (min-width:1200px){
    body{
        flex-direction: row;
        position: relative;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        align-self: flex-start;
        width: 15%;
        flex-shrink: 0;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: start;
    }
    .shop{
        width: 90%;
        order: 0;
    }
    .honey-button{
        flex-direction: column;
        align-items: center;
    }

    .utilities-button{
        flex-direction: column;
        align-items: center;
    }

    .honey-button div, .utilities-button div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .honey-button button, .utilities-button button{
        width: 90%;
        height: 5rem;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    main>h1, aside h2{
        align-self: flex-start;
        margin-left: 2%;
    }
    main>div{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 95%;
    }
    div .product-card{
        width: 17%;
        border-radius: 50px;
    }
    .product-card .img{
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    article {
        flex-direction: row;

    }
    #img{
        order: 0;
        margin-left: 2rem;
    }
    article>div{
        order: 1;
        height: 100%;
        align-self: flex-start;
    }
    article h2{
        margin: 2rem 0 2rem 2.3rem;
    }
    .main-aside-container{
        margin-left: 15%;
    }






}

