@keyframes hero-entrance {
    0% {
      top: 40%;
      opacity: 0;
    }
    100% {
      top: 50%;
      opacity: 1;
    }
}

.bottom-hero{
    position: absolute;
    top: 150;
    left: 0;
    transform: translate(-0%, 8.1%);
    opacity: 0;
    animation: hero-entrance 1s forwards;
}

