$imgHeight: 50px;
$colorNav: #000000;
$gradientColorLogo: linear-gradient(144deg, rgba(156,14,130,1) 0%, rgba(243,143,55,1) 50%, rgba(11,223,251,1) 100%);
$topBackgroundHero: linear-gradient(180deg, rgba(0,0,0,1) 16%, rgba(156,14,130,1) 100%);
$bottomBackgroundHero: linear-gradient(180deg, rgba(156,14,130,1) 37%, rgba(243,143,55,1) 77%, rgba(11,223,251,1) 100%);
$divideHero: 50%;
$fontHeading: 'Share Tech', sans-serif;