@media screen and (max-width: 1023px) {
    nav ul li:nth-child(1),nav ul li:nth-child(2),nav ul li:nth-child(3), .hero-svg-container, .star {
      display: none;
    }
  }

/* LAYOUT TABLET */
@media screen and (min-width: 576px) {
    .logo-container{
      margin-left: 3%;
    }
    .nav-container{
      justify-content: space-between;
    }
    .menu-container{
      margin-right: 6%;
    }
    .hero{
      height: 380px;
    }
    .trendings-section{
      width: 100%;
    }
    .trendings-section-body{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .trending-item{
      width: 50%;
      margin: 0 0 20px 0;
    }
    .trending-item-number p{
      font-size: 23px;
    }
    .trending-item-heading-author {
      color: black;
    }
    aside{
      /* margin: 0 5% 0; */
      margin: 0 6% 0;
    }
    .side-column-body button{
      background-color: white;
    }
    .articles-section{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin: 0;
    }
    .articles-column{
      align-items: center;
    }
    .trendings-section-heading{
      margin-left: 0;
      margin-bottom: 8px;
    }
    .hero-title-box{
      margin-left: 21%;
    }
    .trendings-section-container{
      margin: 0 6% 0 6%;
      width: 100%;
    }
    .articles-section-container{
      width: 100%;
    }
    .article{
      width: 88%;
    }
    .trendings-section-heading h3{
      font-size: 10px;
      font-weight: bold;
    }
}

/* LAYOUT LAPTOP */
@media screen and (min-width: 1024px) {
  .nav-container{
    justify-content: space-between;

  }
  .logo-container{
    margin-left: 9%;
  }
  .menu-container{
    margin-right: 9%;
  }
  .hero-title-container{
    margin-left: 9%;
  }
  .trendings-section{
    width: 100%;
  }
  .trendings-section-container{
    margin: 0 9% 0;
  }
  .trendings-section-body{
    justify-content: space-between;
  }
  .trendings-section-heading{
    margin-left: 0;
    margin-bottom: 8px;
  }
  .trendings-section-heading h3{
    font-size: 13px;
    font-weight: bold;
  }
  .trending-item{
    width: 30%;
  }
  .articles-section{
    margin: 25px 9% 0;
    display: flex;
  }
  aside{
    margin: 0;
    width: 70%;
  }
  .articles-section-container{
    /* margin-right: 120px; */
  }
  .hero-svg-container {
    right: 0px;
    /* width: 585px; */
  }
}