/* GENERAL SETTINGS */
a {
  text-decoration: none;
  color: #292929;
}

ul {
  list-style: none;
}
body{
  font-family: "Roboto", sans-serif;
}




/* NAVBAR */
.navbar{
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 2;
  background-color: #ffc017;
  border-bottom: 1px solid #292929;
  display: flex;
  /* justify-content: center; */
  transition: background 300ms ease;
}

.bg-white {
  background-color: #fff;
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-container{
  margin-right: 10px;
}

nav ul li {
  font-size: 12px;
  margin-left: 15px;
  /* line-height: 20px; */
}

nav .nav-container svg {
  height: 20px;
  width: 161px;
}

.logo-container{
  margin-left: 10px;
}

.nav-cta {
  color: #fff;
  background-color: #191919;
  padding: 6px 12px 6px;
  border-radius: 99em;
  font-size: 12px;
}
header{
  margin-bottom: 20px;
}







/* HERO */

.hero {
  height: 350px;
  position: relative;
  overflow: hidden;
  background-color: #ffc017;
  border-bottom: 1px solid #292929;
  display: flex;
  justify-content: center;
}

.hero-svg-container {
  position: absolute;
  z-index: 0;
  top: 60px;
  right: -200px;
  overflow: hidden;
  /* width: 585px; */
}

.hero-svg-container svg {
  overflow: hidden;
}

.hero-container {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  /* margin-inline: 64px; */
  /* max-width: 1192px; */
}

.hero-title-container {
  display: flex;
  justify-content: center;
}

.hero-title-box {
  margin-left: 15px;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 93px 0 92px; */
}

.hero-title-box h1 {
  font-size: 50px;
  color: #000000;
  font-family: "Spectral", serif;
  margin-bottom: 25px;
  /* letter-spacing: -0.05em; */
  /* line-height: 70px; */
}

.hero-title-box h2 {
  font-size: 17px;
  color: #000000;
  width: 300px;
  margin-bottom: 25px;
  /* line-height: 24px; */
}

.hero-cta {
  border: none;
  border-radius: 99em;
  background-color: #181918;
  font-size: 17px;
  text-align: center;
  width: 60%;
  height: 11%;
  /* max-width: 213px; */
  /* line-height: 24px; */
}
.hero-cta a{
  color: white;
}








/* MAIN  */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}






/* TRENDS SECTION */
.trendings-section {
  width: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  border-bottom: 1px solid rgba(230, 230, 230, 1);
  margin-bottom: 25px;
  /* order: 0; */
}

.trendings-section-container {
  /* margin-top: 30px; */
  /* margin-inline: 64px; */
  /* max-width: 1192px; */
  width: 100%;
}

.trendings-section-heading {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 16px;
}

.trendings-section-heading-title {
  font-size: 16px;
  font-weight: 500;
  /* letter-spacing: 0; */
  /* line-height: 20px; */
  margin-left: 8px;
}

.trendings-section-body {
  /* box-sizing: content-box;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between; */
  /* height: 100%; */
  /* margin: 0 15px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.trending-item {
  /* flex-basis: 33.333333%; */
  display: flex;
  margin: 0 15px 30px 15px;
}

.trending-item-number p{
  color: rgba(230, 230, 230, 1);
  /* letter-spacing: 0;
  line-height: 0.8; */
  font-size: 25px;
  font-weight: bold;
}

.trending-item-text {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.trending-item-heading {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.trending-item-heading img {
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgba(242, 242, 242, 1);
  display: block;
}

.trending-item-heading-author {
  font-size: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.808);
  margin-left: 8px;
}

.verified-author svg {
  height: 16px;
  vertical-align: middle;
  margin-left: 4px;
}

.trending-item-body h4 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
}

.trending-item-footer {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  line-height: 20px;
  color: rgba(117, 117, 117, 1);
}

.star svg {
  height: 16px;
  vertical-align: middle;
}




/* ARTCILES SECTION STYLES */

.articles-section {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin: 0 15px 0;
}

.articles-section-container {
  /* margin-inline: 64px; */
  /* max-width: 1192px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  /* column-gap: 30px; */
}

.articles-column {
  display: flex;
  flex-direction: column;
  /* flex-basis: 70%; */
}

.article {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 30px;
  /* height: 100%; */
  /* margin-bottom: 48px; */
}

.article-text {
  margin-right: 25px;
  width: 100%;
}

.article-heading {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.article-heading img {
  width: 20px;
  height: 20px;
  border-radius: 99em;
  vertical-align: middle;
}

.article-heading-author {
  font-size: 10px;
  font-weight: bold;
  /* font-weight: 500; */
  /* line-height: 16px; */
  margin-left: 8px;
}

.article-title {
  /* letter-spacing: 0;
  line-height: 28px; */
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.article-body p {
  font-size: 12px;
  color: rgba(117, 117, 117, 1);
  /* line-height: 20px; */
  margin-bottom: 8px;
}

.article-footer {
  font-size: 10px;
  /* line-height: 20px; */
  color: rgba(117, 117, 117, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-category {
  border: none;
  border-radius: 100px;
  padding: 2px 8px 4px;
  background-color: rgba(242, 242, 242, 1);
  color: rgba(117, 117, 117, 1);
  transition: background 300ms ease 0s;
}
.article-category a{
  font-size: 10px;
}

.article-category:hover {
  background-color: rgb(230, 230, 230);
}

.bookmark svg {
  vertical-align: middle;
}

.article-img-cover {
  /* width: 200px;
  height: 134px; */
  width: 60%;
  /* aspect-ratio: auto 200 / 134; */
}






/* SIDE COLUMN STYLES */
aside {
  margin-left: 15px;
  /* top: 115px;
  position: sticky; */
}

.side-column {
  display: flex;
  flex-direction: column;
  /* max-width: 400px; */
}

.side-column-body {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.side-column-title {
  font-weight: bold;
  font-size: 12px;
  color: rgba(41, 41, 41, 1);
  /* line-height: 20px; */
  letter-spacing: 0;
  margin-bottom: 16px;
}

.side-column-body button {
  border: 1px solid rgba(230, 230, 230, 1);
  padding: 10px 16px;
  margin: 0 8px 8px 0;
  border-radius: 2px;
  color: #757575;
  font-size: 12px;
  /* line-height: 20px; */
  transition: background 300ms ease 0s;
}

.side-column-body button:hover {
  background-color: #f2c232;
}

.side-column-footer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 24px 0 0 0;
}

.side-column-footer a {
  margin: 0 26px 10px 0;
  font-size: 12px;
  /* line-height: 20px; */
  /* display: block; */
  color: #757575;
  /* display: inline-block; */
}


/* ----------------------- */
.bg-white {
  background-color: white;
}
.bg-green {
  background-color: green;
}