html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------
/* GENERAL STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --yellow: #ffc017;
  --black: #292929;
  --white: #fff;
  --cta: #191919;
  --green-cta: #1a8917;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--black);
}

a {
  text-decoration: none;
  color: var(--black);
}

ul {
  list-style: none;
}

.invisible-item {
  display: none;
}

/* NAV STYLES */

.navbar {
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 10;
  background-color: var(--yellow);
  border-bottom: 1px solid var(--black);
  display: flex;
  justify-content: center;
  transition: background-color 300ms linear;
}

.bg-white {
  background-color: var(--white);
}

.nav-container {
  width: 100%;
  height: 100%;
  margin-inline: 64px;
  max-width: 1192px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 729px) and (max-width: 903px) {
  .nav-container {
    margin-inline: 48px;
  }
}

@media screen and (max-width: 728px) {
  .nav-container {
    margin-inline: 24px;
  }
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  font-size: 14px;
  line-height: 20px;
  margin-left: 25px;
}

@media screen and (max-width: 728px) {
  nav ul li:nth-child(1),
  nav ul li:nth-child(2),
  nav ul li:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 551px) {
  nav ul li:nth-child(4) {
    display: none;
  }
}

.nav-cta {
  font-size: 14px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  background-color: #191919;
  padding: 10px 17px 10px;
  border-radius: 99em;
}

.bg-green {
  background-color: var(--green-cta);
}

/* HERO SECTION STYLES */
.hero-section {
  height: 530px;
  position: relative;
  overflow: hidden;
  background-color: var(--yellow);
  border-bottom: 1px solid var(--black);
  display: flex;
  justify-content: center;
}

.hero-svg-container {
  /* width: 585px; */
  position: absolute;
  top: 75px;
  right: 0;
}

@media screen and (max-width: 1080px) {
  .hero-svg-container {
    right: -244px;
  }
}

@media screen and (max-width: 903px) {
  .hero-svg-container {
    right: -140px;
  }
}

@media screen and (max-width: 728px) {
  .hero-svg-container {
    display: none;
  }
}

.hero-svg-container svg {
  overflow: hidden;
  height: 462px;
}

.hero-section-container {
  margin-inline: 64px;
  width: 100%;
  max-width: 1192px;
  margin-top: 75px;
  display: flex;
  justify-content: flex-start;
}

@media screen and (min-width: 729px) and (max-width: 903px) {
  .hero-section-container {
    margin-inline: 48px;
  }
}

@media screen and (max-width: 728px) {
  .hero-section-container {
    margin-inline: 24px;
  }
}

.hero-title-container {
  display: flex;
  justify-content: center;
}

.hero-title-box {
  height: 100%;
  padding: 93px 0 92px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1080px) {
  .hero-title-box {
    width: 550px;
  }
}

@media screen and (max-width: 903px) {
  .hero-title-box {
    width: 500px;
  }
}

@media screen and (max-width: 551px) {
  .hero-title-box {
    width: 100%;
  }
}

.hero-title-box h1 {
  font-size: 110px;
  color: rgba(8, 8, 8, 1);
  margin-bottom: 35px;
  letter-spacing: -0.05em;
  line-height: 95px;
  font-family: "Spectral", serif;
}

@media screen and (max-width: 903px) {
  .hero-title-box h1 {
    font-size: 89px;
    letter-spacing: -0.055em;
    line-height: 89px;
  }
}

@media screen and (max-width: 551px) {
  .hero-title-box h1 {
    font-size: 74px;
    letter-spacing: -0.05em;
    line-height: 70px;
  }
}

.hero-title-box h2 {
  width: 65%;
  margin-bottom: 50px;
  font-size: 24px;
  line-height: 24px;
  color: rgba(41, 41, 41, 1);
}

@media screen and (min-width: 552px) and (max-width: 1080px) {
  .hero-title-box h2 {
    width: 80%;
  }
}
@media screen and (max-width: 551px) {
  .hero-title-box h2 {
    width: 100%;
  }
}

.hero-cta {
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: #191919;
  border: 1px solid black;
  border-radius: 99em;

  font-size: 20px;
  max-width: 213px;
  padding: 8px 25px 8px;
  line-height: 24px;
  text-align: center;
}

/* MAIN STYLES  */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* TRENDS SECTION */
.trendings-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.trendings-section-container {
  margin-top: 40px;
  margin-inline: 64px;
  max-width: 1192px;
  width: 100%;
}

@media screen and (min-width: 729px) and (max-width: 903px) {
  .trendings-section-container {
    margin-inline: 48px;
  }
}

@media screen and (max-width: 728px) {
  .trendings-section-container {
    margin-inline: 24px;
  }
}

.trendings-section-heading {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.trendings-section-heading-title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 8px;
}

.trendings-section-body {
  box-sizing: content-box;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.trending-item {
  flex-basis: 33.333333%;
  padding-right: 16px;
  display: flex;
  margin-bottom: 40px;
}

@media screen and (max-width: 1079px) {
  .trending-item {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 727px) {
  .trending-item {
    flex-basis: 100%;
  }
}

.trending-item-number {
  color: rgba(230, 230, 230, 1);
  letter-spacing: 0;
  line-height: 0.8;
  font-size: 30px;
  font-weight: 500;
}

.trending-item-text {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.trending-item-heading {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.trending-item-heading img {
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgba(242, 242, 242, 1);
  display: block;
}

.trending-item-heading-author {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  margin-left: 8px;
}

.verified-author svg {
  height: 16px;
  vertical-align: middle;
  margin-left: 4px;
}

.trending-item-body h4 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 700;
  margin-bottom: 8px;
}

.trending-item-footer {
  font-size: 13px;
  line-height: 20px;
  color: rgba(117, 117, 117, 1);
}

.star svg {
  height: 16px;
  vertical-align: middle;
}

/* ARTCILES SECTION STYLES */
.articles-section {
  display: flex;
  margin-top: 56px;
  justify-content: center;
}

@media screen and (max-width: 903px) {
  .articles-section {
    margin-top: 24px;
  }
}

.articles-section-container {
  margin-inline: 64px;
  max-width: 1192px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 30px;
}

@media screen and (max-width: 903px) {
  .articles-section-container {
    margin-inline: 0;
  }
}

@media screen and (max-width: 903px) {
  .articles-section-container {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1080px) {
  .articles-section-container {
    column-gap: 80px;
  }
}

.articles-column {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

.article {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-bottom: 48px;
}

@media screen and (max-width: 903px) {
  .articles-column {
    padding-inline: 48px;
    margin-top: 52px;
  }
}

@media screen and (max-width: 727px) {
  .articles-column {
    padding-inline: 24px;
  }
}

.article-text {
  margin-right: 26px;
  width: 100%;
}

.article-heading {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.article-heading img {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  vertical-align: middle;
}

.article-heading-author {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  margin-left: 8px;
}

.article-title {
  letter-spacing: 0;
  line-height: 28px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 4px;
}

@media screen and (max-width: 727px) {
  .article-title {
    line-height: 20px;
    font-size: 16px;
  }
}

.article-body p {
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  line-height: 20px;
  margin-bottom: 8px;
}

@media screen and (max-width: 727px) {
  .article-body p {
    display: none;
  }
}

.article-footer {
  font-size: 13px;
  line-height: 20px;
  color: rgba(117, 117, 117, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-category {
  border-radius: 100px;
  padding: 2px 8px 4px;
  background-color: rgba(242, 242, 242, 1);
  color: rgba(117, 117, 117, 1);
  transition: background 300ms ease 0s;
}

@media screen and (max-width: 551px) {
  .article-category {
    display: none;
  }
  .article-footer-text span:nth-child(2) {
    display: none;
  }
}

.article-category:hover {
  background-color: rgb(230, 230, 230);
}

.bookmark svg {
  vertical-align: middle;
}

.article-img-cover {
  width: 200px;
  height: 134px;
  aspect-ratio: auto 200 / 134;
}

@media screen and (max-width: 727px) {
  .article-img-cover {
    width: 150px;
    height: 100px;
    aspect-ratio: auto 150 / 100;
  }
}

/* SIDE COLUMN STYLES */
aside {
  top: 115px;
  position: sticky;
}

@media screen and (max-width: 903px) {
  aside {
    position: unset;
  }
}

.side-column {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

@media screen and (max-width: 903px) {
  .side-column {
    max-width: unset;
  }
}

.side-column-body {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

@media screen and (max-width: 903px) {
  .side-column-body {
    padding-inline: 48px;
  }
}

@media screen and (max-width: 727px) {
  .side-column-body {
    padding-inline: 24px;
  }
}

.side-column-title {
  font-weight: 500;
  font-size: 16px;
  color: rgba(41, 41, 41, 1);
  line-height: 20px;
  letter-spacing: 0;
  margin-bottom: 16px;
}

@media screen and (max-width: 903px) {
  .side-column-title {
    padding-inline: 48px;
  }
}

@media screen and (max-width: 727px) {
  .side-column-title {
    padding-inline: 24px;
  }
}

.side-column-body a {
  border: 1px solid rgba(230, 230, 230, 1);
  padding: 6px 16px;
  margin: 0 8px 8px 0;
  border-radius: 3px;
  color: #757575;
  font-size: 13px;
  line-height: 20px;
}

.side-column-footer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 24px 0;
}

@media screen and (max-width: 903px) {
  .side-column-footer {
    display: none;
  }
}

.side-column-footer a {
  margin-right: 26px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  display: block;
  font-size: 14px;
  color: #757575;
  display: inline-block;
  margin-bottom: 10px;
}